{$DOMAIN:localhost} {
	encode gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
		header /js/* Cache-Control "no-cache"
		header /index.html Cache-Control "no-cache"
	}
}
